@font-face {
    font-family: BEBAS;
    src: url('../fonts/BEBAS___.TTF');
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
}

header {
    opacity: 0.8; 
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    font-family: BEBAS;
}

p {
    color: #676966;
}

.logoNerd {
    width: 75%;
    height: 75%;
    position: relative;
    top: 25px;
    opacity: 1;
}

#smallNerd {
    width: 40%;
    height: 40%;
    opacity: 1;
    top:0px;
}

.nav-item:nth-child(-n + 2) {
    margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link,
.more {
    text-transform: uppercase;
    font-family: BEBAS;
    color: black;
}

.navbar-light .navbar-nav .nav-link.active, 
.more{
    border: 1px solid black;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    padding: 8px;
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover{
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

li.breadcrumb-item a{
    color: #969a95;
    text-decoration: none;
}

.breadcrumb {
    background-color: white;
}

.more{
    color: black;
    background-color: white;
    padding: 10px;
    pointer-events: auto;
}

.more:hover{
    color: white;
    background-color: black;
}

#myCarousel {
    margin-bottom: 25px;
    position: relative; 
    bottom: 200px; 
    margin-bottom: -200px;
    z-index: -1;
}

.carousel-form {
    background-color: rgba(0, 0, 0, .5);
    padding: 40px;
    position: absolute;
    bottom: 100px;
}

.form-control {
    border-radius: 0px;
}

.custom-select {
    color: black;
    border-radius: 0px;
    background: #fff url("../img/chevron-bottom-2x.png") no-repeat right .75rem center;
}

#inputGroupSelect01, 
#inputGroupSelect02,
#inputGroupSelect03,
#inputGroupSelect04,
#inputGroupSelect05 {
    margin-right: 15px;
}

#inputGroupSelect03 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#inputGroupSelect04 {
    border: 0px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#inputGroupSelect05 {
    background: rgba(0, 0, 0, 0) url("../img/chevron-bottom-white-2x.png") no-repeat left .75rem center;
    text-align: right;
    text-align-last: right;
}

select#inputGroupSelect05 > option {
    background-color: white;
    color: black;
    direction: ltr;
}

select#inputGroupSelect05 {
    direction: rtl;
}

.nd2-input-group input.form-control,
.nd2-input-group input.form-control::placeholder,
.nd2-input-group select.custom-select,
.nd2-input-group .btn {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

.nd2-input-group .btn {
    background: rgba(0, 0, 0, 0) url("../img/baseline_search_white_18dp.png") no-repeat left 5px center;
    border: 2px solid white;
    padding: 6px;
    text-align: right;
}

.nd2-input-group .btn:hover {
    background: rgba(255, 255, 255, 0) url("../img/baseline_search_black_18dp.png") no-repeat left 5px center;
    color: black;
    background-color: white;
}

#search {
    padding-top: 100px;
}

.btn:hover,
#search:hover {
    color: black;
}

img.d-block.w-100 {
    height: 980px;
}

.top-icons {
    width: 50px;
    height: 50px;
}

#print_icon {
    margin-right: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, .15);
    margin-bottom: 50px;
    position: relative;
}

.card .new {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 15px;
    margin: 20px 20px 0px 20px;
}

.card .web-ref {
    position: relative;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    padding: 5px 15px;
    margin: -34px 20px 0px 20px;
}

.mandate  {
    text-align: left;
    margin-left: -15px;
    text-transform: uppercase;
}

.refPA  {
    text-align: right;
    margin-right: -15px;
}

.card-img-top {
    height: 300px;
    padding: 20px 20px 0px 20px;
}

.card-body h4::after {
    position: relative;
    content: "2";
    font-size: 15px;
    bottom: 8px;
}

span.cubic::after {
    position: relative;
    content: "2";
    font-size: 10px;
    bottom: 6px;
}

section.banner {
    margin-bottom: 140px;
}

section.banner p {
    text-align: center;
    padding-top: 20px; 
}

.call {
    padding: 25px;
    padding-left: 25%;
    padding-top: 80px;
}

footer {
    background-color: #c7c7c7;
    color: white;
}

footer hr {
    border-top: 1px solid white;
}

footer .container {
    padding-top: 35px;
    padding-bottom: 60px;
}

footer p {
    color: white;
}

.social-icons {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 5px;
}