@font-face {
    font-family: BEBAS;
    src: url('../fonts/BEBAS___.TTF');
}

h1, h2 {
    text-transform: capitalize;
}

.logoNerd {
    width: 50%;
    height: 50%;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-family: BEBAS;
    color: black;
}

.navbar-light .navbar-nav .nav-item.active {
    border: 1px solid black;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

li.nav-item {
    height: 42px;
}

#myCarousel {
    margin-bottom: 50px;
}

img.d-block.w-100 {
    /* height: 180px; */
}

.social-icons {
    width: 30px;
    height: 30px;
}