@font-face {
    font-family: BEBAS;
    src: url('../fonts/BEBAS___.TTF');
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    font-family: BEBAS;
}

.logoNerd {
    width: 75%;
    height: 75%;
    position: relative;
}

.nav-item:nth-child(-n + 2) {
    margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link,
.more {
    text-transform: uppercase;
    font-family: BEBAS;
    color: black;
}

.navbar-light .navbar-nav .nav-item.active, 
.more{
    border: 1px solid black;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover{
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.more{
    color: black;
    background-color: white;
    padding: 10px;
    pointer-events: auto;
}

.more:hover{
    color: white;
    background-color: black;
}

#myCarousel {
    margin-bottom: 25px;
}

.carousel-from {
    padding: 40px;
}

.custom-select {
    color: black;
    border-radius: 0px;
    background: #fff url("../img/chevron-bottom-2x.png") no-repeat right .75rem center;
}

.form-control {
    border-radius: 0px;
}

.nd2-input-group {
    color: white;
}

#ref-num {
    border: 1px solid white;
    padding: 10px;
    margin-left: -5px;
}

#more-search {
    border: 1px solid white;
    padding: 10px;
}

#search {
    border: 2px solid white;
    padding: 10px;
}

img.d-block.w-100 {
    height: 800px;
}

.top-icons {
    width: 50px;
    height: 50px;
}

#print_icon {
    margin-right: 10px;
}

form {
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, .15);
    margin-bottom: 50px;
    position: relative;
}

.card .new {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 15px;
    margin: 20px 20px 0px 20px;
}

.card .web-ref {
    /* text-align: right; */
    position: relative;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    padding: 5px 15px;
    margin: -34px 20px 0px 20px;
}

.mandate  {
    text-align: left;
    margin-left: -15px;
    text-transform: uppercase;
}

.refPA  {
    text-align: right;
    margin-right: -15px;
}

.card-img-top {
    height: 300px;
    padding: 20px 20px 0px 20px;
}

.card-body h4::after {
    position: relative;
    content: "2";
    font-size: 15px;
    bottom: 8px;
}

span.cubic::after {
    position: relative;
    content: "2";
    font-size: 10px;
    bottom: 6px;
}

section.banner {
    /* background-image: url("/img/banner.svg");
    background-repeat: no-repeat; */
    /* width: 100%; */
    /* height: 360px;  */
    margin-bottom: 140px;
    /* text-align: center; */
}

section.banner p {
    text-align: center;
    padding-top: 20px; 
}

.call {
    padding: 25px;
    padding-left: 25%;
    padding-top: 80px;
}

footer {
    background-color: #c7c7c7;
    color: white;
}

footer hr {
    border-top: 1px solid white;
}

footer .container {
    padding-top: 35px;
    padding-bottom: 60px;
}

.social-icons {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 5px;
}